<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>portal_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{1,1},{1093,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portal_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{1096,1},{1093,614}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{1,617},{1093,614}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portal_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{617,1096},{1093,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>portal-5.png</string>
            <key>size</key>
            <string>{1711,1711}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74c30845d8d1bfbe7da24e585e5b6d88:22b2a87ce9eaa19c9b6f48f91d307681:8fc46a08ae601ec46f3a4c64e5a76f21$</string>
            <key>textureFileName</key>
            <string>portal-5.png</string>
        </dict>
    </dict>
</plist>
