<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mask_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{1,1},{1093,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mask_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{1,1},{1093,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mask_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{1096,1},{1093,614}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mask_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{1096,1},{1093,614}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mask_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{1,617},{1093,614}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mask_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{1,617},{1093,614}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mask_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{617,1096},{1093,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mask_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1093,614}</string>
                <key>spriteSourceSize</key>
                <string>{1093,614}</string>
                <key>textureRect</key>
                <string>{{617,1096},{1093,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mask-2.png</string>
            <key>size</key>
            <string>{1711,1711}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6d9a6307334dcaa4568a0f7abe01e50:7b8add269f70c601344d3793e91fb5fa:441c30c363b8b3add4ba7b0720446fac$</string>
            <key>textureFileName</key>
            <string>mask-2.png</string>
        </dict>
    </dict>
</plist>
